:root{
  --dl-space-0:0px; --dl-space-2:2px; --dl-space-4:4px; --dl-space-8:8px; --dl-space-12:12px;
  --dl-space-16:16px; --dl-space-20:20px; --dl-space-24:24px; --dl-space-28:28px; --dl-space-32:32px;
  --dl-space-36:36px; --dl-space-40:40px; --dl-space-44:44px; --dl-space-48:48px; --dl-space-56:56px;
  --dl-space-64:64px; --dl-space-80:80px; --dl-space-96:96px;
}
